/**
* Main stylesheet.
*/
@charset "utf-8";
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	text-align: left;
	background-color: #9A9A9A;
}
.container {
	width: 100%;
	min-width: 1000px;
}
.content {
	padding: 5px;
	background-color: #9A9A9A;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
}
.inner-content {
	padding: 10px;
	background-color: #F5F5F5;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: 0px 0px 17px #000000;
}
@-moz-document url-prefix() {
.inner-content {
	padding: 10px;
	background-color: #F5F5F5;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: 0px 0px 8px #000000;
}
}

#chat {
	margin: 10px;
	margin-bottom: 10px;
}
#chat table {
	width: 100%;
}
#chat table #message-td {
	border: 1px dashed #CCCCCC;
	background-color: #F1F1F1;
	border-radius: 10px;
}
#chat table #user-td {
	width: 200px;
}

#messages {
	display: block;
	width: 100%;
	min-height: 150px;
	overflow-y: auto;
	padding: 4px;
}
#messages span {
	display: block;
	padding: 1px 2px;
	font-size: 90%;
	text-align: left;
	white-space: pre;
}
#messages span:hover {
	background-color: #D1CFCF;
}
.message {
	color: #000000;
}
.whisper {
	color: #F453A8;
}
.nickname {
	text-decoration: none;
	color: #000000;
}
/*
* User panel
*/
#users {
	display: block;
	vertical-align: top;
	width: 100%;
	min-height: 150px;
	overflow-y: auto;
}
#user_menu li {
    border-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    border-radius: 4px;
    display: block;
    padding: 4px 10px;
    margin: 0px 2px;
    color: #1c94c4;
    font-size: 100%;
    line-height: normal;
    font-variant: small-caps;
    background-color: #ffffff;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
#user_menu li li:hover {
	color: #c77405;
    box-shadow: 0 5px 8px 5px #f3f4f6 inset;
}
#user_menu {
	width: 100%;
}

#inputs {
	display: block;
	height: 40px;
	margin-top: 5px;
}
.button, .textarea {
    border-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    border-radius: 4px;
}
.button {
    display: inline-block;
    padding: 4px 10px;
    margin: 0px 2px;
    color: #1c94c4;
    font-size: 100%;
    line-height: normal;
    font-variant: small-caps;
    background-color: #ffffff;
}
.button:hover {
	color: #c77405;
    box-shadow: 0 5px 8px 5px #f3f4f6 inset;
}
.textarea {
	display: inline-block;
	color: #000000;
	vertical-align: bottom;
	font-size: 100%;
	white-space: nowrap;
	background: #FFFFFF;
	padding: 5px 13px;
}
#inputs #input_whisper {
	width: 100px;
	height: 16px;
}
#inputs #input_message {
	width: 60%;
	max-width: 520px;
	height: 16px;
	max-height: 58px;
}
#links {
	margin-left: 10px;
}
#volume-slider {
	display: inline-block;
	position: relative;
	top: 5px;
	left: 0px;
	margin-right: 5px;
	width: 100px;
}

.hidden, #hidden {
	display: none;
}
.clear, #clear {
	clear: both;
}
.error, #error {
	color: red;
	padding-left: 5px;
	padding-right: 5px;
}
/*
* custom promt window.
*/
div#nprompt_background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
div#nprompt_main {
    position: fixed;
    top: 15%;
    left: 0;
    width: 400px;
    border-width: 5px;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #dedede;
    z-index: +1;
}
div#nprompt_main div#nprompt_inner {
    padding: 5px;
    color: #999999;
    text-align: left;
    font-family:'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 100%;
}
div#nprompt_main div#nprompt_inner div#nprompt_message {
    min-height: 40px;
    max-height: 150px;
    overflow-y: auto;
    text-align: center;
}
div#nprompt_main div#nprompt_inner div#nprompt_message #title {
    font-size: 125%;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 4px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #dddddd;
}
div#nprompt_main div#nprompt_inner div#nprompt_message #message {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
div#nprompt_main div#nprompt_inner div#nprompt_inputs {
    margin-bottom: 5px;
    text-align: center;
}
div#nprompt_main div#nprompt_inner div#nprompt_inputs input {
    border-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    border-radius: 4px;
}
div#nprompt_main div#nprompt_inner div#nprompt_inputs input#nprompt_value {
    margin-bottom: 5px;
    padding: 5px;
    width: 350px;
}
div#nprompt_main div#nprompt_inner div#nprompt_inputs input#submit_ok, div#nprompt_main div#nprompt_inner div#nprompt_inputs input#submit_cancel {
    display: inline-block;
    padding: 4px 10px;
    margin: 0px 2px;
    color: #999999;
    font-size: 120%;
    font-weight: bold;
    line-height: normal;
    font-variant: small-caps;
    background-color: #ffffff;
}
div#nprompt_main div#nprompt_inner div#nprompt_inputs input#submit_ok:hover, div#nprompt_main div#nprompt_inner div#nprompt_inputs input#submit_cancel:hover {
    box-shadow: 0 5px 8px 5px #f3f4f6 inset;
}