/* main.css - default stylesheet */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

#wrap {
	height: 100%;
}

textarea {
	max-height: 40px; /* for FireFox */
	resize: none;
}

#header {
	-webkit-app-region: drag; /* nw.js */
	position: fixed;
	width: 100%;
	height: 88px;
	white-space: nowrap;
}

#topic {
	width: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	o-text-overflow: ellipsis;
}

#menu-canvas-left {
	position: fixed;
	top: 5px;
	left: 5px;
}

#menu-canvas-right {
	position: fixed;
	top: 5px;
	right: 5px;
}

#content {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 100px;
	word-break: break-all;
	overflow: auto;
}

#content:before {
	display: block;
	content: "";
	height: 88px;
}

#content:after {
	display: block;
	content: "";
	height: 125px;
}

#content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}
#content ul li {
	padding: 2px 5px;
	white-space: pre-wrap;
	word-break: break-all;
}
/*#content ul li:nth-child(odd) { background: #eee; }*/

#footer {
	-webkit-app-region: drag; /* nw.js */
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 125px;
	overflow: hidden;
}

.menu-canvas {
	-webkit-app-region: no-drag; /* nw.js */
	display: inline-block;
	width: 35px;
	height: 35px;
	opacity: .6;
}

#menu-left, #menu-right {
	-webkit-app-region: no-drag; /* nw.js */
}

.border {
	border-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
	border-radius: 4px;
}

.message {
	color: #000000;
}

.whisper {
	color: #F453A8;
}

.nickname {
	text-decoration: none;
	color: #1C94C4;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}