/* jQuery plugin dropdown */
.custom-dropdown {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100px;
	border-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
	border-radius: 4px;
	background-color: #FFFFFF;
	z-index: +1;
}

.custom-dropdown ul {
	list-style-type: none;
	padding: 0px;
	margin: 1px 0px;
}

.custom-dropdown ul li {
	border-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
	border-radius: 4px;
	padding: 4px 10px;
	margin: 0px 2px;
	color: #1c94c4;
	font-size: 100%;
	line-height: normal;
	font-variant: small-caps;
	background-color: #ffffff;
	white-space: nowrap;
	overflow: hidden;
	o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	cursor: pointer;
}

.custom-dropdown ul li:hover {
	color: #c77405;
	box-shadow: 0 5px 8px 5px #f3f4f6 inset;
}

/* Pure JS: plugin nprompt */
div.nprompt_background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

div.nprompt_background.enabled {
	background: #b2b2b2;
	opacity: 0.90;
}

div.nprompt_background.disabled {}

div.nprompt_main {
	position: fixed;
	top: 10%;
	left: 0;
	right: 0;
	width: 300px;
	margin: 0 auto;
	border-width: 5px;
	border-color: #ffffff;
	border-style: solid;
	border-radius: 15px;
	background-color: #ffffff;
	box-shadow: 0 0 10px 5px #dedede;
	z-index: +1;
}

div.nprompt_main div.nprompt_inner {
	padding: 5px;
	color: #999999;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 100%;
}

div.nprompt_main div.nprompt_inner div.nprompt_message {
	min-height: 40px;
	max-height: 150px;
	overflow-y: auto;
	text-align: center;
}

div.nprompt_main div.nprompt_inner div.nprompt_message .title {
	font-size: 125%;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: normal;
	margin-top: 0;
	margin-bottom: 5px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #dddddd;
}

div.nprompt_main div.nprompt_inner div.nprompt_message .message {
	margin-top: 5px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.nprompt_main div.nprompt_inner .nprompt_inputs {
	margin-bottom: 5px;
	text-align: center;
}
div.nprompt_main div.nprompt_inner .nprompt_inputs p {
	text-align: left;
}

div.nprompt_main div.nprompt_inner .nprompt_inputs input,
div.nprompt_main div.nprompt_inner .nprompt_inputs textarea {
	border-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
	border-radius: 4px;
}

div.nprompt_main div.nprompt_inner .nprompt_inputs input.nprompt_value,
div.nprompt_main div.nprompt_inner .nprompt_inputs textarea.nprompt_value {
	margin-bottom: 5px;
	padding: 5px;
	width: 250px;
}

div.nprompt_main div.nprompt_inner .nprompt_inputs input.nprompt_value[type="radio"],
div.nprompt_main div.nprompt_inner .nprompt_inputs input.nprompt_value[type="checkbox"] {
	width: inherit;
}

div.nprompt_main div.nprompt_inner .nprompt_inputs input.submit_ok,
div.nprompt_main div.nprompt_inner .nprompt_inputs input.submit_cancel {
	display: inline-block;
	padding: 4px 10px;
	margin: 0px 2px;
	color: #999999;
	font-size: 120%;
	font-weight: bold;
	line-height: normal;
	font-variant: small-caps;
	background-color: #ffffff;
}

div.nprompt_main div.nprompt_inner .nprompt_inputs input.submit_ok:hover,
div.nprompt_main div.nprompt_inner .nprompt_inputs input.submit_cancel:hover {
	box-shadow: 0 5px 8px 5px #f3f4f6 inset;
}